<!-- ── Page Header ────────────────────────────────── -->
<div class="page-header">
  <div class="container text-center pt-4">
    <h1>Wall of Fame</h1>
    <p>Meet our successful alumni who have secured excellent positions in top companies.</p>
  </div>
</div>

<section class="section-padding" style="background: var(--bg-light);">
        <div class="container my-5">
            <div class="student_placed">
              <div class="row g-4 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-2" id="recentlyid">
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                  <div class="student-card h-100">
                    <img src="public/images/Nursingha.jpg" alt="">
                    <h4>NURSINGHA CHARAN SAHU</h4>
                    <small>ANUPAMA INDUSTRY</small>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="150">
                  <div class="student-card h-100">
                    <img src="public/images/noim.jpg" alt="">
                    <h4>BIJAYALAXMI SAHU</h4>
                    <small>Accounting</small>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                  <div class="student-card h-100">
                    <img src="public/images/noim.jpg" alt="">
                    <h4>BISWA</h4>
                    <small>Accounting</small>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="250">
                  <div class="student-card h-100">
                    <img src="public/images/noim.jpg" alt="">
                    <h4>RANJITA BADAJENA</h4>
                    <small>GEO ENVIRONMENTAL SERVICES</small>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                  <div class="student-card h-100">
                    <img src="public/images/SubhalaxmiSahoo.jpg" alt="">
                    <h4>SUBHALAXMI SAHOO</h4>
                    <small>Consultation</small>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="150">
                  <div class="student-card h-100">
                    <img src="public/images/Suprava.jpg" alt="">
                    <h4>SUPRABHA ROUT</h4>
                    <small>TRS ENGINEERING</small>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                  <div class="student-card h-100">
                    <img src="public/images/Sumita.jpg" alt="">
                    <h4>SUSMITA ROUT</h4>
                    <small>UTKAL INFRA SOLUTION</small>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="250">
                  <div class="student-card h-100">
                    <img src="public/images/Prabhudattaswain.jpg" alt="">
                    <h4>PRABHUDATTA SWAIN</h4>
                    <small>MASUM INTERIOR DESIGN</small>
                  </div>
                </div>
                
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                  <div class="student-card h-100">
                    <img src="public/images/noim.jpg" alt="">
                    <h4>RAKESH SAHOO</h4>
                    <small>Design</small>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="150">
                  <div class="student-card h-100">
                    <img src="public/images/noim.jpg" alt="">
                    <h4>PRADIP KUMAR PRADHAN</h4>
                    <small>Development</small>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                  <div class="student-card h-100">
                    <img src="public/images/noim.jpg" alt="">
                    <h4>SUSHANTA</h4>
                    <small>ROYAL WEIGH BRIDGE</small>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="250">
                  <div class="student-card h-100">
                    <img src="public/images/ASIS.jpg" alt="">
                    <h4>ASIS SAMAL</h4>
                    <small>Ovation production Pvt Ltd</small>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                  <div class="student-card h-100">
                    <img src="public/images/noim.jpg" alt="">
                    <h4>RINKI</h4>
                    <small>Management</small>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="150">
                  <div class="student-card h-100">
                    <img src="public/images/Jeeban.jpg" alt="">
                    <h4>JEEBANJYOTI ROUT </h4>
                    <small>SHEPHALEE FASHIONS</small>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                  <div class="student-card h-100">
                    <img src="public/images/noim.jpg" alt="">
                    <h4>DEBIDATTA</h4>
                    <small>Sales</small>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="250">
                  <div class="student-card h-100">
                    <img src="public/images/noim.jpg" alt="">
                    <h4>SIBA</h4>
                    <small>HR</small>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                  <div class="student-card h-100">
                    <img src="public/images/noim.jpg" alt="">
                    <h4>MAMALI</h4>
                    <small>Administration</small>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="150">
                  <div class="student-card h-100">
                    <img src="public/images/ANJALIKANDI.jpg" alt="">
                    <h4>ANJALI KANDI</h4>
                    <small>GEO ENVIRONMENTAL SERVICES</small>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                  <div class="student-card h-100">
                    <img src="public/images/noim.jpg" alt="">
                    <h4>RAJESH BEHERA</h4>
                    <small>Consultant</small>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="250">
                  <div class="student-card h-100">
                    <img src="public/images/Akskiel Bhuyan_mantu.jpg" alt="">
                    <h4>AKSKIEL BHUYAN</h4>
                    <small>SKR CONSTRUCTION PVT LTD</small>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                  <div class="student-card h-100">
                    <img src="public/images/noim.jpg" alt="">
                    <h4>SWAIN BABU</h4>
                    <small>Marketing</small>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="150">
                  <div class="student-card h-100">
                    <img src="public/images/Anil.jpg" alt="">
                    <h4>ANIL KUMAR SWAIN</h4>
                    <small>ADARSHA DESIGNERS</small>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                  <div class="student-card h-100">
                    <img src="public/images/noim.jpg" alt="">
                    <h4>CHIKU</h4>
                    <small>Digital Marketing</small>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="250">
                  <div class="student-card h-100">
                    <img src="public/images/dilip.jpg" alt="">
                    <h4>DILLIP KUMAR DAS</h4>
                    <small>PRINCE HEALTH CARE</small>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                  <div class="student-card h-100">
                    <img src="public/images/noim.jpg" alt="">
                    <h4>KUMAR DILLIP</h4>
                    <small>Accounting</small>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="150">
                  <div class="student-card h-100">
                    <img src="public/images/noim.jpg" alt="">
                    <h4>KUNMUN</h4>
                    <small>Logistics</small>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                  <div class="student-card h-100">
                    <img src="public/images/purnachandra.jpg" alt="">
                    <h4>PURNA CHANDRA SAHOO</h4>
                    <small>ODISHA ENTERPRISES</small>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="250">
                  <div class="student-card h-100">
                    <img src="public/images/noim.jpg" alt="">
                    <h4>MANOJ</h4>
                    <small>Tech Support</small>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                  <div class="student-card h-100">
                    <img src="public/images/Nitis.jpg" alt="">
                    <h4>NITISH RANJAN SETHI</h4>
                    <small>AYUDHI VENTURE</small>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="150">
                  <div class="student-card h-100">
                    <img src="public/images/noim.jpg" alt="">
                    <h4>SUCHISMITA</h4>
                    <small>Education</small>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                  <div class="student-card h-100">
                    <img src="public/images/noim.jpg" alt="">
                    <h4>PRANGYA</h4>
                    <small>Design</small>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="250">
                  <div class="student-card h-100">
                    <img src="public/images/noim.jpg" alt="">
                    <h4>RINKI</h4>
                    <small>Support</small>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                  <div class="student-card h-100">
                    <img src="public/images/noim.jpg" alt="">
                    <h4>SONALI</h4>
                    <small>Accounts</small>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="150">
                  <div class="student-card h-100">
                    <img src="public/images/noim.jpg" alt="">
                    <h4>TAPAN(S)</h4>
                    <small>Quality Assurance</small>
                  </div>
                </div>
              </div>
              
            </div>
        </div>
    </section>